# Data
data/*
!data/raw/
data/raw/*
!data/raw/BreedLabels.csv
!data/raw/ColorLabels.csv
!data/raw/StateLabels.csv

# Secrets
.env
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# OS/IDE
.DS_Store
.vscode/

# MLflow
mlruns.db
mlartifacts/
mlruns/